<link rel="stylesheet" href="/css/footer.css">
<script src="https://kit.fontawesome.com/f9afaa8246.js" crossorigin="anonymous"></script>
<footer>
   <div id="container-foot">
    <div>
        <i class="fa-regular fa-copyright"></i>  
        Coding Ninjas. All Rights Reserved
    </div>
    <div>
        <div id="links">
            <a href="/">Home</a>
        </div>
        <div id="links">
            <a href="/users/profile">Profile</a>
        </div>
    </div>


   </div>
</footer>